@import "./css/dark.css";
@import "./css/light.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--button-color);
  height: 100vh;
  width: 100%;
}
.input {
  background-color: #334155;
  border: none;
  border-radius: 8px;
  padding: 4px;
  color: #fff;
  text-align: center;
}
.btn {
  background-color: #334155;
  border: none;
  border-radius: 8px;
  padding: 4px;
  color: #fff;
}
.navBtn {
  border: none;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  color: #334155;
  padding: 5px 20px;
}
.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pokemonCard {
  height: 200px;
  width: 300px;
  background: var(--card);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 5px;
}
.pokeImage {
  height: 100px;
  z-index: 1;
}
.pokeBall {
  height: 60px;
  position: absolute;
  top: 63%;
  left: 81%;
  opacity: 0.4;
}
.characteristics {
  display: flex;
  flex-direction: column;
}
.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.currentPokemon {
  margin: 20px;
}
.PokeTitle {
  color: #fff;
  text-transform: uppercase;

  font-weight: bold;
}
.PokeType {
  color: #fff;
}
.PokeId {
  text-align: center;
  background-color: #334155;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  padding: 3px;
}
